img
{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

figure
{
    margin: 0;
}

.dislay-check
{
    display: none;
}

.dislay-check:checked ~ .display .fa
{
    transform: rotate(90deg);
}

.dislay-check:checked ~ .cats .cat
{
    display: block;
    width: 600px;
    height: 700px;
}

.dislay-check:checked ~ .cats .cat
{
    margin: auto;
}

.dislay-check:checked ~ .cats .cat .shortinfo
{
    display: none;
}

.dislay-check:checked ~ .cats .cat .longinfo
{
    display: block;
    color: grey;
}

.dislay-check:checked ~ .cats .cat .cat-photo
{
    height: 400px;
}

.dislay-check ~ .cats .cat .longinfo
{
    display: none;
}

.cats
{
    padding: 10px;
}

.cat
{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 350px;
    box-shadow: 0 4px 29px 0 rgba(0,0,0,.4);
    margin: 10px;
    overflow: hidden;
}

.cat-discription
{
    padding: 10px;
}

.cat-name
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cat-discription span
{
    color: grey;
}

.cat-status
{
    display: block;
    margin-top: 15px;
}

.cat-discription span:hover
{
    font-style: oblique;
}

.cat-photo:hover
{
    transform: scale(1.15, 1.15);
}

.cat-name:hover
{
    color: aqua;
}

.cat:hover
{
    border: 1px solid aqua;
}

.display
{
    cursor: pointer;
}

.display:hover
{
    color: chocolate;
    transition: .5s;
}
